.NoteBtnModalContainer {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.formContainer {
  background-color: rgba(186, 185, 185, 0.378);
  padding: 3rem;
  border-radius: 1rem;
  width: 25rem;
}

.formContainer input,
.formContainer textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 17px;
  text-indent: 5px;
  padding: 10px 0;
  resize: vertical;
  border-radius: 0.2rem;
  border: none;
}

textarea {
  height: 6rem;
}

.modalControlBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalControlBtn button {
  padding: 0.8rem;
  font-size: 15px;
  border-radius: 0.3rem;
  border: none;
}
