.NoteBtnModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  position: absolute;
  /* z-index: 2; */
}

.formContainer {
  background-color: rgba(186, 185, 185, 0.378);
  backdrop-filter: blur(4px);
  padding: 3rem;
  border-radius: 1rem;
}
.formContainer::before {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.768);
  filter: blur(10px);
  z-index: -1; */
}

.formContainer input,
.formContainer textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 17px;
  text-indent: 5px;
  padding: 10px 0;
  resize: vertical;
  border-radius: 0.5rem;
  outline-color: #133e87;
}

textarea {
  height: 6rem;
}

.modalControlBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalControlBtn button {
  padding: 1rem;
  font-size: 15;
  border-radius: 1rem;
  border: none;
}
